docker+n8n.json
{
  "name": "docker-n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9,18 * * *"
            }
          ]
        }
      },
      "name": "Agendamento (10h e 18h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b50d9e5e-42aa-432d-bc90-ad4bb685499b"
    },
    {
      "parameters": {
        "command": "ls /files/videos_novos | shuf -n 1"
      },
      "name": "Selecionar Vídeo Aleatório",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "edd85493-2e66-47d2-bd06-2efea343ea1a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Existe Vídeo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "79c71dc8-6ef0-4141-91bc-fc378466be5b"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\n\n// Função para remover acentos e caracteres especiais\nfunction removerAcentos(str) {\n    if (!str) return '';\n    return str.normalize('NFD').replace(/[\\u0300-\\u036f]/g, \"\");\n}\n\n// 1. EXTRAI E LIMPA O CONTEÚDO BRUTO DO OLLAMA\nlet content = inputData.content || inputData.response || inputData.text || inputData.output || (inputData.message ? inputData.message.content : null);\n\nif (!content) {\n    throw new Error(\"O Ollama não retornou texto em nenhuma propriedade esperada.\");\n}\n\ncontent = String(content).trim();\n// Remove blocos de código markdown (```json, ```) e caracteres de controle\nconst content_clean_step1 = content.replace(/```json|```|json/g, '').trim();\nlet content_clean = content_clean_step1.replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\").trim();\n\n// [!!! CORREÇÃO CRÍTICA DE PARSING !!!]\n// Se o Ollama omitiu a chave de fechamento e o conteúdo começa com '{', adicione-a.\nif (content_clean.startsWith('{') && !content_clean.endsWith('}')) {\n    content_clean += '}';\n}\n\n// 2. ISOLA O ÚLTIMO OBJETO JSON VÁLIDO\nconst jsonStart = content_clean.indexOf('{'); \nconst jsonEnd = content_clean.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1 || jsonEnd < jsonStart) {\n    throw new Error(\"O modelo não retornou JSON válido (Chaves ausentes ou invertidas). Texto limpo: \" + content_clean);\n}\n\n// Extrai a string que começa no primeiro '{' e termina no último '}'\nlet rawJsonString = content_clean.substring(jsonStart, jsonEnd + 1);\n\n// 3. CORREÇÃO DE SINTAXE E PARSE\nlet data;\ntry {\n    // Remove VÍRGULAS FINAIS e CORRIGE CONCATENAÇÕES\n    let fixedJsonString = rawJsonString.replace(/,(\\s*)}/g, '}').replace(/\"\\s*\"/g, '\", \"');\n    data = JSON.parse(fixedJsonString);\n} catch (e) {\n    throw new Error(\"Erro ao converter texto para JSON. Texto limpo: \" + rawJsonString + \". Erro: \" + e.message);\n}\n\n// --- CÓDIGO DE NORMALIZAÇÃO E LIMPEZA DE TAGS ---\ndata.titulo = data.titulo || \"\"; \ndata.descricao = data.descricao || \"\"; \ndata.tags = data.tags || []; \n\n// 4. PREPARO DE VARIÁVEIS\nconst videoNode = $('Selecionar Vídeo Aleatório').first();\nconst originalFile = videoNode ? videoNode.json.stdout.trim() : \"arquivo_desconhecido.mp4\";\nconst cleanDescription = String(data.descricao).replace(/(\\r\\n|\\n|\\r)/gm, \" \").trim();\n\n// --- TRATAMENTO ROBUSTO PARA TAGS (FILTRO FINAL) ---\nlet tagsRaw = data.tags; \nlet tagsArray = Array.isArray(tagsRaw) ? tagsRaw : (typeof tagsRaw === 'string' ? tagsRaw.split(/,|\\s+/).filter(tag => tag.length > 0) : []);\n\n// **LISTA NEGRA DE TAGS (Incluindo as frases problemáticas que o Ollama insiste em gerar)**\nconst stopWords = ['a', 'o', 'e', 'de', 'do', 'da', 'um', 'uma', 'os', 'as', 'com', 'sem', 'em', 'para', 'na', 'no', 'que', 'jogo'];\nconst phrasesToRemove = ['recorde', 'recordes', 'speedrun', 'jogodeacao', 'jogosdeacao', 'videodejogo', 'videodejogos', 'jogo de ação', 'jogos de ação', 'jogo']; \n// Adiciona as novas tags genéricas\nphrasesToRemove.push('game');\nphrasesToRemove.push('videogame');\nphrasesToRemove.push('jogo de terror'); // Já que o modelo insiste\n\nlet finalCleanTags = [];\n\ntagsArray.forEach(tag => {\n    const cleanTagAscii = removerAcentos(tag).toLowerCase().replace(/[^a-z0-9]/g, '').trim(); \n    if (phrasesToRemove.includes(cleanTagAscii) || stopWords.includes(cleanTagAscii) || cleanTagAscii.length <= 2) {\n        return; \n    }\n    finalCleanTags.push(tag.trim()); \n});\n\n// 5. Converte para a string final, garantindo \", \" como separador\nlet tagsForYouTube = finalCleanTags.join(', ');\n\n// 6. GERA HASHTAGS\nlet hashtagsForDescription = '';\nif (tagsForYouTube) {\n    const tagArray = tagsForYouTube.split(',').map(tag => tag.trim()).filter(tag => tag.length > 0);\n    hashtagsForDescription = tagArray.map(tag => `#${tag.replace(/\\s/g, '')}`).join(' ');\n}\n// -------------------------------------------------------------------\n\nreturn {\n    titulo: data.titulo,             \n    descricao: cleanDescription,\n    tags: tagsForYouTube,         \n    hashtags: hashtagsForDescription, \n    videoPath: originalFile, \n};"
      },
      "name": "Formatar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "4b8e0c07-2c6a-434a-8ce4-edf82ce5a66a"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Formatar Dados').item.json.titulo }}",
        "regionCode": "BR",
        "categoryId": "=20",
        "binaryProperty": "videoFile",
        "options": {
          "description": "={{ $('Formatar Dados').item.json.descricao }}\n\n{{ $('Formatar Dados').first().json.hashtags }}",
          "tags": "={{ $('Formatar Dados').first().json.tags }}"
        }
      },
      "name": "Upload YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1088,
        0
      ],
      "id": "44a3cf37-26c6-4957-884f-48df82d50b0a",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "12u7CFYLUxmxkw6L",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5629491635",
        "text": "=🚀 Vídeo Postado!\n\n🎬 Título: {{ $('Formatar Dados').item.json.title }}\n🔗 Link: https://www.youtube.com/shorts/{{ $json.uploadId }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1248,
        0
      ],
      "id": "2c4f543b-134a-4126-bb0b-505deb13c444",
      "webhookId": "f5ee20c9-2373-4b42-b204-3ec1e444a904",
      "credentials": {
        "telegramApi": {
          "id": "DouyCnDB3BVcRdjK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "=mv \"/files/videos_novos/{{ $('Formatar Dados').first().json.videoPath }}\" \"/files/videos_postados/\""
      },
      "name": "Mover Arquivo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1424,
        0
      ],
      "id": "d7a6b175-277e-415a-bf6b-e9d7a8155241"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um especialista sênior em SEO para YouTube Shorts e Copywriting Viral para canais de Games, focado estritamente no gênero Survival Horror. Seu único objetivo é gerar metadados de alta conversão.\n\n---\n\n### 🛡️ REGRAS DE EXCLUSÃO RÍGIDAS (NÃO DEVEM SER USADAS NA SAÍDA)\n1. Proibido usar as palavras ou frases: \"RECORDE\", \"RECORDES\", \"SPEEDRUN\".\n2. Proibido usar as palavras ou frases: \"JOGO DE AÇÃO\", \"VÍDEO DE JOGO\", \"JOGOS DE AÇÃO\", \"JOGO DE TERROR\".\n3. Proibido usar a abreviação: \"DBD\". Use SEMPRE o nome completo: \"Dead by Daylight\".\n4. Proibido usar vocabulário fora de contexto (ex: PRAIA, SOL, CARRO).\n5. Proibido usar tags genéricas: \"JOGO\" ou \"GAME\".\n\n---\n\n### 🎯 INSTRUÇÃO FINAL E VARIÁVEL CRÍTICA\nSua tarefa é analisar EXCLUSIVAMENTE o nome do arquivo abaixo e gerar um objeto JSON.\n\nARQUIVO DE VÍDEO ATUAL: \"{{ $('Selecionar Vídeo Aleatório').first().json.stdout }}\"\n\n### 📝 REQUISITOS DE SAÍDA (ABSOLUTO)\nResponda APENAS com um objeto JSON puro. **NÃO INCLUA NENHUM TEXTO, COMENTÁRIO OU CARACTERE ADICIONAL ANTES OU DEPOIS DO OBJETO JSON.**\n\n1. \"titulo\": \n   - Deve ser CLARO e COERENTE com TERROR.\n   - **DEVE TER EXATAMENTE ENTRE 10 E 20 CARACTERES (CONTAR RIGOROSAMENTE)**.\n   - Deve estar em CAIXA ALTA.\n2. \"descricao\": \n   - Uma única frase curta e engajadora.\n3. \"tags\": \n   - Array com **EXATAMENTE 5 ITENS**.\n   - Priorize tags de UMA palavra. Máximo de DUAS palavras por tag.\n   - Uma das tags deve ser exatamente \"Dead by Daylight\".\n\n### FORMATO FINAL DO JSON (EXATO):\n{\n \"titulo\": \"\",\n \"descricao\": \"\",\n \"tags\": []\n}\n\n---\n\n### SUA RESPOSTA (Apenas o JSON):"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "40045c4e-4cc4-4443-b026-91a1121b292f",
      "name": "Ollama AI",
      "credentials": {
        "ollamaApi": {
          "id": "yBsD63N3OajPxoyv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/files/videos_novos/{{$json.videoPath}}",
        "options": {
          "dataPropertyName": "videoFile"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        928,
        0
      ],
      "id": "e9639454-ea08-40d6-acf3-a7c62fe70b29",
      "name": "Leitor Binário"
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento (10h e 18h)": {
      "main": [
        [
          {
            "node": "Selecionar Vídeo Aleatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Vídeo Aleatório": {
      "main": [
        [
          {
            "node": "Existe Vídeo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload YouTube": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Telegram": {
      "main": [
        [
          {
            "node": "Mover Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Vídeo?": {
      "main": [
        [
          {
            "node": "Ollama AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ollama AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama AI": {
      "main": [
        [
          {
            "node": "Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados": {
      "main": [
        [
          {
            "node": "Leitor Binário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leitor Binário": {
      "main": [
        [
          {
            "node": "Upload YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45acd421-428e-478f-aa63-1fea5070a3da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef586a8b71f4170ca94a1c0ae6df469b4e1d49fd4d8f2f8ad7df2a1395f57f88"
  },
  "id": "4aPZBzYoOvZ8NPFj",
  "tags": []
}
